<div class="row">
  <div class="col-md-6">
        <h3>Day 1</h3>
        <div class = "row">
        <table class="table table-striped">
            <tr><td></td><td><b>Software Carpentry</b></td><td><b>Reproducible Research</b></td></tr>
            <tr><td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
            <tr><td>8:30-9:00 a.m.</td><td>Setup</td> <td>Setup</td> </tr>
            <tr><td>Morning</td><td>Introduction </td><td>Introduction </td> </tr>
            <tr><td></td><td> <a href="http://swcarpentry.github.io/shell-novice"> Automating tasks with the Unix shell </a> </td> <td> Referencing and Citation</td> </tr>
            <tr><td></td><td></td><td>Planning Research</td></tr>
            <tr><td></td><td></td><td>Experimental Reproducibility</td></tr>
            <tr><td>12:00 p.m.</td><td>Lunch</td><td>Lunch</td></tr>
            <tr> <td>Afternoon</td><td><a href="http://swcarpentry.github.io/git-novice/"> Version Control with Git </a></td>  <td>Sharing, Collaborating, and Publishing</td> </tr>
            <tr> <td></td><td></td>  <td>Analysis and Computation</td> </tr>
            <tr> <td></td><td></td>  <td>Visualization and Images</td> </tr>
            </table>
        </div>
             <h3>Day 2</h3>
        <div class = "row">
        <table class="table table-striped">
            <tr><td></td><td><b><a href="http://swcarpentry.github.io/python-novice-gapminder/">Introduction to Python</a></b></td><td><b><a href="https://swcarpentry.github.io/r-novice-gapminder/">Introduction to R</a></b></td></tr>
            <tr><td> 8:30-9:00 a.m.</td><td>Setup</td> <td>Setup</td> </tr>
            <tr><td>Morning</td><td>Python: Part 1</td><td>R: Part 1</td></tr>
            <tr><td>12:00 p.m.</td><td>Lunch</td><td>Lunch</td></tr>
            <tr><td>Afternoon</td><td>Python: Part 2</td><td>R: Part 2</td></tr>
            </table>
        </div>
