<div class="row">
  <div class="col-md-6">
        <h3>Day 1</h3>
        <div class = "row">
        <table class="table table-striped">
            <tr><td><b>Software Carpentry</b></td><td><b>Reproducible Research</b></td></tr>
            <tr><td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
            <tr><td>Setup</td> <td>Setup</td> </tr>
            <tr><td>Introduction </td><td>Introduction </td> </tr>
            <tr><td> <a href="http://swcarpentry.github.io/shell-novice"> Automating tasks with the Unix shell </a> </td> <td> Referencing and Citation</td> </tr>
            <tr> <td><a href="http://swcarpentry.github.io/git-novice/"> Version Control with Git </a></td>  <td>Planning Research</td> </tr>
            <tr> <td></td>  <td>Experimental Reproducibility</td> </tr>
            <tr> <td></td>  <td>Sharing, Collaborating, Publishing</td> </tr>
            <tr> <td></td>  <td>Analysis and Computation</td> </tr>
            <tr> <td></td>  <td>Visualization and Images</td> </tr>
            </table>
        </div>
             <h3>Day 2</h3>
        <div class = "row">
        <table class="table table-striped">
            <tr><td><b><a href="http://swcarpentry.github.io/python-novice-gapminder/">Introduction to Python</a></b></td><td><b><a href="https://swcarpentry.github.io/r-novice-gapminder/">Introduction to R</a></b></td></tr>
            <tr><td>Setup</td> <td>Setup</td> </tr>
            <tr><td>Running and Quitting</td><td>Introduction to R and RStudio </td> </tr>
            <tr><td> Variables and Assignment</td> <td>Project Management with RStudio</td> </tr>
            <tr> <td>Data Types and Data Conversion</td>  <td>Seeking Help</td> </tr>
            <tr> <td>Built-in Functions and Help</td>  <td>Data Structures</td> </tr>
            <tr> <td>Libraries</td>  <td>Exploring Data Frames</td> </tr>
            <tr> <td>Reading Tabular Data into DataFrames</td>  <td>Subsetting Data</td> </tr>
            <tr> <td>Pandas DataFrames</td>  <td>Control Flow</td> </tr>
            <tr><td>Plotting</td><td>Creating Graphics with ggplot2</td></tr>
            <tr><td>Lists</td><td>Vectorization</td></tr>
            <tr><td>For Loops</td><td>Functions Explained</td></tr>
            <tr><td>Looping Over Data Sets</td><td>Writing Data</td></tr>
            <tr><td>Writing Functions</td><td>Splitting and Combining Data Frames with plyr</td></tr>
            <tr><td>Variable Scope</td><td>Data Frame Manipulation with dplyr</td></tr>
            <tr><td>Conditionals</td><td>Data Frame Manipulation with tidyr</td></tr>
            <tr><td>Programming Style</td><td>Producing Reports with knitr</td></tr>
            <tr><td>Wrap Up</td><td>Writing Good Software</td></tr>
            </table>
        </div>
