<div class="row">
  <div class="col-md-6">
        <h3>Day 1</h3>
        <p><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></p>
        <div class = "row">
        <table class="table table-striped">
            <tr><td></td><td><b>Software Carpentry</b></td><td><b>Reproducible Research</b></td></tr>
            <tr><td>8:30-9:00 a.m.</td><td>Setup</td> <td>Setup</td> </tr>
          <tr><td>Morning</td><td><a href="https://docs.google.com/presentation/d/19aj0Ylz8dPAdhvmvDl_5qTMZvHa7lAFRL4pryVHfkdM/edit?usp=sharing">Introduction </a> </td><td> <a href="https://docs.google.com/presentation/d/1vKqs_0JSqEN5qkdinyjcum8jnbTs5WxsxGGv8yoHHZ8/edit?usp=sharing"> Introduction </a> </td> </tr>
            <tr><td></td><td> <a href="http://swcarpentry.github.io/shell-novice"> Automating tasks with the Unix shell </a> </td> <td> <a href="https://docs.google.com/presentation/d/1VsX6a6EQR9z4MJ729EWW6OaJaQIR-cRmH9GTWKZyulw/edit?usp=sharing">Referencing and Citation</a></td> </tr>
          <tr><td></td><td></td><td><a href="https://docs.google.com/presentation/d/1-r-qA8QILhTo0-EAy2e0te54HBnXuXyD2XKMiQQKD0I/edit?usp=sharing">Planning Research</a></td></tr>
          <tr><td></td><td></td><td><a href="https://docs.google.com/presentation/d/1eyjRjLrIUMFLytqJcnnKddeaUgmqQpuXKCyDCyGuFBU/edit?usp=sharing">Experimental Reproducibility</a></td></tr>
            <tr><td>12:00 p.m.</td><td>Lunch</td><td>Lunch</td></tr>
            <tr> <td>Afternoon</td><td><a href="http://swcarpentry.github.io/git-novice/"> Version Control with Git </a></td>  <td><a href="https://docs.google.com/presentation/d/1PyHotwsttK6i45tUvOSQPdWvqOW8btnzL5134LVQlnU/edit?usp=sharing">Sharing, Collaborating, and Publishing</a></td> </tr>
          <tr> <td></td><td></td>  <td><a href="https://docs.google.com/presentation/d/1JzSMmL-TCJcBueJz5OYCkSgrgkq-vWKnjZd87_CG4Jg/edit?usp=sharing">Analysis and Computation</a></td> </tr>
          <tr> <td></td><td></td>  <td><a href="https://docs.google.com/presentation/d/1kYy2MXTvnkx0MFhGFK9lWTok_heAv292fmsvDRwYD4k/edit?usp=sharing">Visualization and Images</a></td> </tr>
            </table>
        </div>
             <h3>Day 2</h3>
        <div class = "row">
        <table class="table table-striped">
            <tr><td></td><td><b><a href="http://swcarpentry.github.io/python-novice-gapminder/">Introduction to Python</a></b></td><td><b><a href="https://swcarpentry.github.io/r-novice-gapminder/">Introduction to R</a></b></td></tr>
            <tr><td> 8:30-9:00 a.m.</td><td>Setup</td> <td>Setup</td> </tr>
            <tr><td>Morning</td><td>Python: Part 1</td><td>R: Part 1</td></tr>
            <tr><td>12:00 p.m.</td><td>Lunch</td><td>Lunch</td></tr>
            <tr><td>Afternoon</td><td>Python: Part 2</td><td>R: Part 2</td></tr>
            </table>
        </div>
  </div>
</div>
